<center>
    
# Milestone for Weeks 9 & 10 Milestone

</center>

<div style="text-align: right; width: 15%; margin-left: auto;">
    
Jon Cannaday <br>
DSC 540 <br>
5/15/2024  

</div>

## API Pull
<br>

<div style="width: 100%; border-bottom: 1px solid black;"></div>

   - ### Libraries

In [1]:
import requests
import pandas as pd

   - ### API Key

In [2]:
weatherapi = '46bf9bd76e465bac84162b168e06ee6d'

   - ### Theater Locations

In [3]:
zip_code_list = [
    '97503', '36608', '78744', '78229', '93536', '72019', '75149', '75093', '40509',
    '77840', '75067', '47130', '21046', '89103', '75093', '76116', '84119', '25504',
    '78332', '77040', '76011', '75032', '75093'
]

   - ### Storage

In [4]:
# Data Storage
zipcodes = []
names = []
temps = []
feels_like_temps = []
min_temps = []
max_temps = []
pressures = []
humidities = []
weather_main = []
weather_desc = []
wind_speeds = []

   - ### Function

In [5]:
for zip_code in zip_code_list:

# Establish Credentials
    userzipapi = f"http://api.openweathermap.org/geo/1.0/zip?zip={zip_code},US&appid={weatherapi}"
    zipresponse = requests.get(userzipapi)
    zipdata = zipresponse.json()
    latitude, longitude = zipdata['lat'], zipdata['lon']

# Convert zip code to Longitude and Latitude
    temperatureapi = f"https://api.openweathermap.org/data/2.5/weather?lat={latitude}&lon={longitude}&appid={weatherapi}"
    temperatureresponse = requests.get(temperatureapi)
    temperaturedata = temperatureresponse.json()

# Append data to corresponding lists
    zipcodes.append(zip_code)
    names.append(temperaturedata['name'])
    temps.append(temperaturedata['main']['temp'])
    feels_like_temps.append(temperaturedata['main']['feels_like'])
    min_temps.append(temperaturedata['main']['temp_min'])
    max_temps.append(temperaturedata['main']['temp_max'])
    pressures.append(temperaturedata['main']['pressure'])
    humidities.append(temperaturedata['main']['humidity'])
    weather_main.append(temperaturedata['weather'][0]['main'])
    weather_desc.append(temperaturedata['weather'][0]['description'])
    wind_speeds.append(temperaturedata['wind']['speed'])

   - ### Objects

In [ ]:
data = pd.DataFrame({
    'Zipcode': zipcodes,
    'City': names,
    'Temperature': temps,
    'Feels_Like': feels_like_temps,
    'Min_Temp': min_temps,
    'Max_Temp': max_temps,
    'Pressure': pressures,
    'Humidity': humidities,
    'Weather_Main': weather_main,
    'Weather_Desc': weather_desc,
    'Wind_Speed': wind_speeds
})

## Perform at least 5 data transformation and/or cleansing steps to your API data.
<br>

<div style="width: 100%; border-bottom: 1px solid black;"></div>

   - ### Data Overview

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Zipcode       23 non-null     object
 1   City          23 non-null     object
 2   Temperature   23 non-null     float64
 3   Feels_Like    23 non-null     float64
 4   Min_Temp      23 non-null     float64
 5   Max_Temp      23 non-null     float64
 6   Pressure      23 non-null     int64
 7   Humidity      23 non-null     int64
 8   Weather_Main  23 non-null     object
 9   Weather_Desc  23 non-null     object
 10  Wind_Speed    23 non-null     float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.1+ KB

In [8]:
data.describe()

,Temperature,Feels_Like,Min_Temp,Max_Temp,Pressure,Humidity,Wind_Speed
count,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000
mean,299.486522,300.144783,297.286522,301.320870,1009.739130,56.782609,3.926087
std,4.819252,5.475677,5.306994,4.691579,3.193991,16.790031,1.824435
min,290.050000,290.250000,286.070000,291.000000,1003.000000,21.000000,0.890000
25%,294.510000,294.385000,292.385000,297.845000,1008.500000,48.500000,2.625000
50%,302.420000,303.430000,300.290000,303.940000,1010.000000,54.000000,3.600000
75%,302.725000,303.820000,300.830000,304.390000,1010.500000,60.000000,5.660000
max,303.940000,306.420000,302.980000,305.730000,1018.000000,94.000000,7.200000

In [9]:
data.head()

,Zipcode,City,Temperature,Feels_Like,Min_Temp,Max_Temp,Pressure,Humidity,Weather_Main,Weather_Desc,Wind_Speed
0,97503,Jackson,291.79,291.22,289.07,295.21,1018,58,Clear,clear sky,1.79
1,36608,Seven Hills,301.39,302.28,299.96,303.15,1011,54,Clouds,few clouds,3.09
2,78744,Onion Creek,303.94,304.71,302.21,305.73,1010,46,Clouds,scattered clouds,6.17
3,78229,Balcones Heights,302.41,304.31,299.71,305.17,1005,58,Clouds,scattered clouds,4.12
4,93536,Antelope Acres,295.18,294.59,286.07,300.27,1011,44,Clear,clear sky,3.09

   - ### Step 1 convert Kelvin to Fahrenheit

In [10]:
data['Temperature_F'] = (data['Temperature'] - 273.15) * 9/5 + 32
data['Feels_Like_F'] = (data['Feels_Like'] - 273.15) * 9/5 + 32
data['Min_Temp_F'] = (data['Min_Temp'] - 273.15) * 9/5 + 32
data['Max_Temp_F'] = (data['Max_Temp'] - 273.15) * 9/5 + 32

In [11]:
data.head()

,Zipcode,City,Temperature,Feels_Like,Min_Temp,Max_Temp,Pressure,Humidity,Weather_Main,Weather_Desc,Wind_Speed,Temperature_F,Feels_Like_F,Min_Temp_F,Max_Temp_F
0,97503,Jackson,291.79,291.22,289.07,295.21,1018,58,Clear,clear sky,1.79,65.552,64.526,60.656,71.708
1,36608,Seven Hills,301.39,302.28,299.96,303.15,1011,54,Clouds,few clouds,3.09,82.832,84.434,80.258,86.000
2,78744,Onion Creek,303.94,304.71,302.21,305.73,1010,46,Clouds,scattered clouds,6.17,87.422,88.808,84.308,90.644
3,78229,Balcones Heights,302.41,304.31,299.71,305.17,1005,58,Clouds,scattered clouds,4.12,84.668,88.088,79.808,89.636
4,93536,Antelope Acres,295.18,294.59,286.07,300.27,1011,44,Clear,clear sky,3.09,71.654,70.592,55.256,80.816

   - ### Step 2 Dummy Columns

In [12]:
weather_dummies = pd.get_dummies(data[['Weather_Main', 'Weather_Desc']])
df = pd.concat([data, weather_dummies], axis=1)

In [13]:
df.head()

,Zipcode,City,Temperature,Feels_Like,Min_Temp,Max_Temp,Pressure,Humidity,Weather_Main,Weather_Desc,...,Weather_Main_Clouds,Weather_Main_Drizzle,Weather_Main_Rain,Weather_Desc_broken clouds,Weather_Desc_clear sky,Weather_Desc_few clouds,Weather_Desc_light intensity drizzle,Weather_Desc_light rain,Weather_Desc_overcast clouds,Weather_Desc_scattered clouds
0,97503,Jackson,291.79,291.22,289.07,295.21,1018,58,Clear,clear sky,...,False,False,False,False,True,False,False,False,False,False
1,36608,Seven Hills,301.39,302.28,299.96,303.15,1011,54,Clouds,few clouds,...,True,False,False,False,False,True,False,False,False,False
2,78744,Onion Creek,303.94,304.71,302.21,305.73,1010,46,Clouds,scattered clouds,...,True,False,False,False,False,False,False,False,False,True
3,78229,Balcones Heights,302.41,304.31,299.71,305.17,1005,58,Clouds,scattered clouds,...,True,False,False,False,False,False,False,False,False,True
4,93536,Antelope Acres,295.18,294.59,286.07,300.27,1011,44,Clear,clear sky,...,False,False,False,False,True,False,False,False,False,False

   - ### Step 3 Standardize City Name

In [14]:
df['City'] = df['City'].str.upper()
df['City'].head()

0             JACKSON
1         SEVEN HILLS
2         ONION CREEK
3    BALCONES HEIGHTS
4      ANTELOPE ACRES
Name: City, dtype: object

   - ### Step 4 Drop Columns

In [15]:
columns_to_drop = ['Temperature', 'Feels_Like', 'Min_Temp', 'Max_Temp', 'Weather_Main', 'Weather_Desc']
df = df.drop(columns=columns_to_drop)
df.head()

,Zipcode,City,Pressure,Humidity,Wind_Speed,Temperature_F,Feels_Like_F,Min_Temp_F,Max_Temp_F,Weather_Main_Clear,Weather_Main_Clouds,Weather_Main_Drizzle,Weather_Main_Rain,Weather_Desc_broken clouds,Weather_Desc_clear sky,Weather_Desc_few clouds,Weather_Desc_light intensity drizzle,Weather_Desc_light rain,Weather_Desc_overcast clouds,Weather_Desc_scattered clouds
0,97503,JACKSON,1018,58,1.79,65.552,64.526,60.656,71.708,True,False,False,False,False,True,False,False,False,False,False
1,36608,SEVEN HILLS,1011,54,3.09,82.832,84.434,80.258,86.000,False,True,False,False,False,False,True,False,False,False,False
2,78744,ONION CREEK,1010,46,6.17,87.422,88.808,84.308,90.644,False,True,False,False,False,False,False,False,False,False,True
3,78229,BALCONES HEIGHTS,1005,58,4.12,84.668,88.088,79.808,89.636,False,True,False,False,False,False,False,False,False,False,True
4,93536,ANTELOPE ACRES,1011,44,3.09,71.654,70.592,55.256,80.816,True,False,False,False,False,True,False,False,False,False,False

   - ### Step 5 Rename Columns

In [17]:
df = df.rename(columns={
    'Temperature_F': 'Current_Temperature',
    'Min_Temp_F': 'Minimum_Temperature',
    'Max_Temp_F': 'Maximum_Temperature',
    'Feels_Like_F' : 'Feels_Like'
})
df.head()

,Zipcode,City,Pressure,Humidity,Wind_Speed,Current_Temperature,Feels_Like,Minimum_Temperature,Maximum_Temperature,Weather_Main_Clear,Weather_Main_Clouds,Weather_Main_Drizzle,Weather_Main_Rain,Weather_Desc_broken clouds,Weather_Desc_clear sky,Weather_Desc_few clouds,Weather_Desc_light intensity drizzle,Weather_Desc_light rain,Weather_Desc_overcast clouds,Weather_Desc_scattered clouds
0,97503,JACKSON,1018,58,1.79,65.552,64.526,60.656,71.708,True,False,False,False,False,True,False,False,False,False,False
1,36608,SEVEN HILLS,1011,54,3.09,82.832,84.434,80.258,86.000,False,True,False,False,False,False,True,False,False,False,False
2,78744,ONION CREEK,1010,46,6.17,87.422,88.808,84.308,90.644,False,True,False,False,False,False,False,False,False,False,True
3,78229,BALCONES HEIGHTS,1005,58,4.12,84.668,88.088,79.808,89.636,False,True,False,False,False,False,False,False,False,False,True
4,93536,ANTELOPE ACRES,1011,44,3.09,71.654,70.592,55.256,80.816,True,False,False,False,False,True,False,False,False,False,False

## Ethical implications

<br>

<div style="width: 100%; border-bottom: 1px solid black;"></div>

What changes were made to the data?<br><br>
Converted Temp from K to F.<br>
Dummy columns to get into a qualitative state.<br>
Standardized City to upper case.<br>
Renamed columns to be cleaner.<br>
Droped Columns for processing speed.<br><br>

Are there any legal or regulatory guidelines for your data or project topic?<br>
No, Everything was done according to the regulations established by the owners documentation.<br><br>

What risks could be created based on the transformations done?<br>
Inturpretation goes down/ ease of understanding.<br><br>

Did you make any assumptions in cleaning/transforming the data?<br>
That the data types were all standardized and that numerical values were all the same.<br><br>

How was your data sourced / verified for credibility?<br>
A quick google weather search confirmed that data.<br>

Was your data acquired in an ethical way?<br>
Yes, I followed the regulations established by the owners documentation. <br><br>

How would you mitigate any of the ethical implications you have identified?<br>
By documenting and clearly explaining the steps taken.<br><br>